@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
}

body {
    background-color: rgb(247, 248, 248);

}


/* Root */

:root {
    --color-bg: #e85d9e;
    --color-btn: #e85d9e;
    --color-btn-hover: #eb4492;
    --color-review: #feca27;
    --discount-btn: #ea98be;
    --color-white: #ffff;
    --color-border: rgb(225, 210, 210);
    --linear-gradient: linear-gradient(to right, rgb(255 255 255), rgb(255 234 243));
    --font-montserrat: "Montserrat", sans-serif;
    --font-roboto: "Roboto Mono", monospace;
    --font-poppins: "Poppins", sans-serif;
}

h1,
h2,
h3 {
    font-family: var(--font-poppins);
}

h1 {
    font-size: clamp(24px, 2.5vw, 50px);

}

h2 {
    font-size: clamp(20px, 2vw, 36px);
    font-weight: 500;
}

h3 {
    font-size: clamp(14px, 2vw, 20px);
    font-weight: 500;
}

h4 {
    font-weight: 400;
}

b {
    font-weight: 500;
}

p {
    font-size: clamp(12px, 1.5vw, 18px);
    font-family: var(--font-montserrat);
    font-weight: 400;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}




/* common class */
.section {
    padding: 2.5rem 0;
    width: 100%;
}

.container {
    width: 85%;
    max-width: 1440px;
    margin: auto;
}

.btn-primary {
    border: none;
    background-color: var(--color-btn);
    outline: none;
    border-radius: 8px;
    color: white;
    padding: .5rem 1.5rem;
    font-size: 16px;
    cursor: pointer;
    font-family: var(--font-poppins);
}

.btn-primary:hover {
    background-color: var(--color-btn-hover);
}

/* Banner Area */

.banner {
    width: 100%;
    height: calc(100vh - 200px);
    overflow: hidden;
}

.banner img {
    width: 100%;
    object-fit: cover;

}




/* Carousel Container */
.carousel-container {
    width: 100%;
    position: relative;
}

/* Slide Wrapper */
.carousel-slide {
    display: flex;
    transition: transform 0.4s ease-in-out;
    /* Smooth transition */
    width: 100%;
}

/* Individual Slides */
.slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

/* Background colors for demo slides */
.slide img {
    object-fit: cover;
}



/* End Banner Area */


/* Customer area */
.customers {
    position: relative;
    width: 90%;
    margin: auto;
}

.customer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-border);
    padding: 1.5rem;
    background-color: var(--color-white);
    margin-top: -50px;
    border-radius: .3rem;

}

.happy-custommer {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1.5rem;
    width: 100%;
}

.happy-custommer:not(:last-child) {
    border-right: 1px solid var(--color-border);


}

.custommer-icon {
    background-color: var(--discount-btn);
    padding: 1rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.custommer-icon i {
    font-size: 1.5rem;
    color: var(--color-white);
}

.custommer-title h3 {
    line-height: 14px;
}

/* end Customer area */

/* curated-area */

.curated-kits {
    margin: 2.5rem 0;
}


.curated-hader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.curated-hader i {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 30px;
    height: 30px;
    background-color: var(--color-btn);
    color: var(--color-white);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s ease-in;
}

.curated-hader i:hover {
    background-color: var(--discount-btn);
}

.curated-hader .view-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.grid.curated {
    display: unset;
    display: flex;
    justify-content: space-between;
    gap: .8rem;
}

.grid.curated .product-cart:nth-child(1) {
    width: 35%;
}

.grid.curated .product-cart:not(:first-child) {
    width: calc(65%/3);
}

.grid.curated .product-cart:nth-child(1) img {
    height: 266px;
}


/* cart area */
.product-cart {
    border: 1px solid var(--color-border);
    padding: .2rem .2rem .5rem;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: block;
}

.cart-price .btn-primary.cart-btn {
    margin-top: .8rem;
}

.cart-price .fa-star {
    color: var(--color-review);
}

.cart-grid-flex .product-active-description p {
    font-size: 13px;
    display: none;
}

.cart-header {
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    height: 250px;
}

.cart-header img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.cart-header img:hover {
    transform: scale(1.2);
    transition: all .35s ease-in-out;
}

.product-discount {
    padding: .2rem .6rem;
    background-color: var(--discount-btn);
    color: var(--color-white);
    border-radius: 0.2rem;
    position: absolute;
    z-index: 2;
    font-size: 12px;
}


.product-cart img {
    width: 100%;
    border-radius: 5px;
}

.cart-content {
    margin: .5rem;
}

.cart-content h4 {
    line-height: 12px;
}

.cart-price {
    margin: .5rem;
    position: relative;
}

.add-to-cart-btn {
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--discount-btn);
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: -10px;
}


.add-to-cart-btn i span::after {
    position: absolute;
    content: '';
    border-top: 5px solid goldenrod;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transform: translateX(50%);
    bottom: -5px;
    right: 39%;

}


.add-to-cart-btn i {
    font-size: 18px;
    color: var(--color-white);
    position: relative;
}

.add-to-cart-btn i span {
    position: absolute;
    background-color: var(--color-bg);
    width: 100px;
    padding: .3rem .5rem;
    font-size: 12px;
    /* left: 0%;
	transform: translateX(-50%) translateY(-166%);
	border-radius: 3px;
	font-weight: 400; */
    display: none;
}

.add-to-cart-btn:hover i span {
    display: block;
    left: 0%;
    transform: translateX(-50%) translateY(-250%);
    border-radius: 3px;
    font-weight: 400;
}

.cart-price button {
    width: 100%;
}


/* end cart area */

/* end curated-area */

/* why-coose-area */
.why-coose-area {
    background-color: var(--color-white);
}

.why-coose-list,
.why-choose-content {
    display: flex;
    gap: .7rem;
    margin-top: .9rem;
    align-items: center;

}

.why-coose-left {
    width: 25%;
}

.why-coose-left h2 {
    margin-bottom: .8rem;
}

.why-coose-left button {
    margin-top: 1.5rem;
}

.why-coose-list {
    width: 75%;
}

.why-coose-list .happy-custommer {
    flex-direction: column;
    border: none;
    padding: 5px;
    justify-content: center;
}

.why-coose-list .happy-custommer p,
.why-coose-list .happy-custommer b {
    text-align: center;
    width: 100%;
    display: block;
}

.why-coose-list .happy-custommer b {
    margin: .5rem 0;
}

/* end why-coose-area */



/* Visible area */

.visibles {
    display: flex;
    height: 300px;
    width: 100%;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}

.visible-btn {
    margin-top: 2rem;
}

.visible-left {
    background-image: url("../images/after-before.jpg");
    width: 65%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -90px;
}

.visible-right {
    width: 35%;
}

.visible-right h2 {
    line-height: 40px;
    padding: .5rem 0;
}

.visible-afer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}



/* and Visible area */

/* custommer sayes */


.slider-wrapper {
    position: relative;
    width: 95%;
    max-width: 1350px;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

/* Slider Container Window */
.slider-container {
    width: 100%;
    overflow: hidden;

}

/* The Moving Track */
.testimonial-slider {
    display: flex;
    gap: 25px;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}


.testimonial-card {
    min-width: calc((100% - 50px) / 3);
    background: #fcf9f6;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
}

/* Header Grid */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.profile-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.name-stars {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.stars {
    color: #e67e22;
    font-size: 0.8rem;
}

.name {
    color: #cc8252;
    font-size: 1.45rem;
    font-weight: 400;
    font-family: 'Georgia', serif;
}


.quote-icon {
    color: #f3c27a;
    font-size: 3.5rem;
    line-height: 0.7;
    margin-top: 5px;
}


.testimonial-text {
    color: #333333;
    font-size: 0.98rem;
    line-height: 1.7;
    text-align: left;
}


.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-btn);
    color: #ffffff;
    border: none;
    width: 35px;
    height: 55px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    z-index: 10;
    transition: background-color 0.2s;
}

.nav-btn:hover {
    background-color: var(--discount-btn);
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

@media (max-width: 992px) {
    .testimonial-card {
        min-width: calc((100% - 25px) / 2);
    }
}


@media (max-width: 650px) {
    .testimonial-card {
        min-width: 100%;
    }

    .slider-wrapper {
        padding: 0 10px;
    }

    .nav-btn {
        width: 30px;
        height: 45px;
    }
}



/* end custommer sayes */


/* discount banner */

.discount-banner {
    width: 100%;
    height: 250px;


}

.discount-banner-content {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1.5rem;
    justify-content: right;
    background-image: url("../images/offer-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-right: 2.5rem;



}

.discount-content {
    width: 35%;

}

.why-coose-left.discount-content h2 {
    margin: 0;
    padding: 0;
}

.why-coose-left.discount-content p {
    width: 95%;
}

.discount {
    width: 100px;
    height: 100px;
    background-color: var(--color-white);
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;

}

.discount h2 {
    line-height: 25px;
}

/* end discount banner */


/* Accordian Section */


.accordion {
    max-width: 100%;

}

.accordion-item {
    background: #fff;
    margin-bottom: 10px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}

.accordion-header {
    width: 100%;
    padding: 18px 20px;
    border: none;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
}

.accordion-content p {
    padding: 20px;
    line-height: 1.6;
}

.accordion-item.active .accordion-content {
    max-height: 200px;
}

.accordion-item.active .accordion-header span {
    transform: rotate(45deg);
}

.accordion-header span {
    font-size: 24px;
    transition: .3s;
}


/* End Accordian Section */


.discount-banner._2 {
    height: auto;
    padding: 2rem 0;
    background-image: url("../images/offer-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.curated-hader.curated h2 {
    line-height: 35px;
    margin: .5rem 0;
}

.discount-lsit {
    display: flex;
    gap: 2rem;
}

.discount-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* ==========================================================================
   1. Extra Small Devices (Mobile Portrait) - 0px to 480px
   ========================================================================== */
@media only screen and (max-width: 480px) {
    .customer {
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: -20px;
    }

    .banner {
        height: auto;
    }

    .grid.curated {
        flex-wrap: wrap;
    }

    .happy-custommer:not(:last-child) {
        border-right: unset;
    }

    .grid.curated {
        flex-direction: column;
        gap: .8rem;
    }

    .grid.curated .product-cart:nth-child(1) {
        width: 100%;
    }

    .grid.curated .product-cart:not(:first-child) {
        width: 100%;
    }

    .grid.curated .product-cart:nth-child(1) img {
        height: 266px;
    }

    .why-coose-list,
    .why-choose-content {
        flex-direction: column;
        gap: .7rem;
        margin-top: .9rem;
        align-items: center;

    }

    .why-coose-left {
        width: 100%;
    }

    .visibles {
        flex-direction: column;
        height: auto;
    }

    .visible-left {
        width: 100%;
        background-position: center;
    }

    .visible-right {
        width: 100%;
    }

    .discount-banner-content {
        flex-direction: column;
        padding: .5rem;
    }

    .discount-lsit {
        flex-direction: column;
    }

}

/* ==========================================================================
   2. Small Devices (Mobile Landscape & Tablets) - 481px to 768px
   ========================================================================== */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
        /* আপনার কোড এখানে লিখুন */
    }
}

/* ==========================================================================
   3. Medium Devices (Tablets Landscape & Small Laptops) - 769px to 1024px
   ========================================================================== */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        /* আপনার কোড এখানে লিখুন */
    }
}

/* ==========================================================================
   4. Large Devices (Laptops & Desktops) - 1025px to 1200px
   ========================================================================== */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    body {
        /* আপনার কোড এখানে লিখুন */
    }
}

/* ==========================================================================
   5. Extra Large Devices (Large Desktops/4K Monitors) - 1201px and above
   ========================================================================== */
@media only screen and (min-width: 1201px) {
    body {
        /* আপনার কোড এখানে লিখুন */
    }
}