

:root {
    --color-bg: #e85d9e;
    --color-btn: #e85d9e;
    --color-review: #feca27;
    --discount-btn: #ea98be;
    --color-white: #ffff;
    --color-border: rgb(225, 210, 210);
    --linear-gradient: linear-gradient(to right, rgb(255 255 255), rgb(255 234 243));
    --font-montserrat: "Montserrat", sans-serif;
    --font-roboto: "Roboto Mono", monospace;
    --font-poppins: "Poppins", sans-serif;
}



.product-view{
    display: flex;
    gap: 2.5rem;
}
.product-img {
    width: 40%;
}

.product-img .big-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.product-img .big-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
    transition: transform .3s ease;
}

.product-small-img {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    list-style: none;
}

.product-small-img img {
    width: 90px;
    height: 90px;
    border-radius: 4px;
    padding: .3rem;
    border: 1px solid var(--color-border);
    cursor: pointer;
    object-fit: cover;
}

.product-content{
    width: 30%;
}

.content-header{
    padding-bottom: .8rem;
    border-bottom: 1px solid var(--color-border);
}
.product-short-description{
    padding: .8rem 0;
    border-bottom: 1px solid var(--color-border);
}

.review, ul{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.content-header li i, .review-cart li i{
    color: var(--color-review);
    font-size: 12px;
}

.count, .buttons{
    margin-top: 1.5rem;
}
.count input{
    outline: none;
    width: 50px;
    border: 2px solid var(--color-btn);
    height: 25px;
}

.review-area{
    margin-top: 2.5rem;
    display: flex;
    gap: .6rem;
    flex-direction: column;
    height: 600px;
    overflow-y: scroll;
}

.review-cart{
    padding: .9rem;
    border: 1px solid var(--color-border);
}
.review-cart header {
	display: flex;
	gap: .6rem;
	margin-bottom: 0.8rem;
}
.review-nav {
    gap: 2rem;
}
.review-nav li {
    cursor: pointer;
}
.review-nav .active
{
    background-color: var(--color-bg);
    padding: .3rem .7rem;
    color: var(--color-white);
    border-radius: 4px;
}

.review-cart img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* Curated Area */

.curated-kits{
    margin: 2.5rem 0;
}


.curated-hader{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.curated-hader i{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 30px;
    height: 30px;
    background-color: var(--color-btn);
    color: var(--color-white);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s ease-in;
}
.curated-hader i:hover{
    background-color: var(--discount-btn);
}
.curated-hader .view-more-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.grid.curated{
    display: unset;
    display: flex;
    justify-content: space-between;
    gap: .8rem;
}
.grid.curated .product-cart:nth-child(1){
    width: 35%;
}
.grid.curated .product-cart:not(:first-child){
    width: calc(65%/3);
}
.grid.curated .product-cart:nth-child(1) img{
    height: 266px;
}


/* cart area */
.product-cart {
    border: 1px solid var(--color-border);
    padding: .2rem .2rem .5rem;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: block;
}

.cart-price .btn-primary.cart-btn {
    margin-top: .8rem;
}
.cart-price .fa-star{
    color: var(--color-review);
}

.cart-grid-flex .product-active-description p {
    font-size: 13px;
    display: none;
}

.cart-header {
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    height: 250px;
}

.cart-header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.cart-header img:hover {
    transform: scale(1.2);
    transition: all .35s ease-in-out;
}

.product-discount {
    padding: .2rem .6rem;
    background-color: var(--discount-btn);
    color: var(--color-white);
    border-radius: 0.2rem;
    position: absolute;
    z-index: 2;
    font-size: 12px;
}


.product-cart img {
    width: 100%;
    border-radius: 5px;
}

.cart-content {
    margin: .5rem;
}

.cart-content h4 {
    line-height: 12px;
}

.cart-price {
    margin: .5rem;
    position: relative;
}

.add-to-cart-btn {
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--discount-btn);
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: -10px;
}


.add-to-cart-btn i span::after {
    position: absolute;
    content: '';
    border-top: 5px solid goldenrod;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transform: translateX(50%);
    bottom: -5px;
    right: 39%;

}


.add-to-cart-btn i {
    font-size: 18px;
    color: var(--color-white);
    position: relative;
}

.add-to-cart-btn i span {
    position: absolute;
    background-color: var(--color-bg);
    width: 100px;
    padding: .3rem .5rem;
    font-size: 12px;
    /* left: 0%;
	transform: translateX(-50%) translateY(-166%);
	border-radius: 3px;
	font-weight: 400; */
    display: none;
}

.add-to-cart-btn:hover i span {
    display: block;
    left: 0%;
    transform: translateX(-50%) translateY(-250%);
    border-radius: 3px;
    font-weight: 400;
}

.cart-price button
{
    width: 100%;
}


/* end cart area */

/* end curated-area */

